@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }
}

body {
    max-height: 100vh;

    display: flex;
    margin: 0;
}

#navbar {
    min-width: 300px;

    padding: 24px;

    background-color: rgb(247, 247, 247);

    border-right: 1px solid rgb(236, 236, 236);
}

#navbar header {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 2em;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding-inline: 0 0;
}

#navbar ul li {
    margin-bottom: 8px;
}

#navbar a {
    color: rgba(60, 60, 60, 0.7);
    text-decoration: none;
}

#navbar a:hover {
    color: #213547;
    transition: color 0.25s;
}

#navbar ul li a:active {
    color: white;
}

#main-doc {
    overflow-y: scroll;
}